/*=================== fonts ===================*/

@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*=================== proza libre ===================*/
.proza-libre-regular {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.proza-libre-medium {
  font-family: "Proza Libre", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.proza-libre-semibold {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.proza-libre-bold {
  font-family: "Proza Libre", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.proza-libre-extrabold {
  font-family: "Proza Libre", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.proza-libre-regular-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.proza-libre-medium-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.proza-libre-semibold-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.proza-libre-bold-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.proza-libre-extrabold-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 800;
  font-style: italic;
}

/*=================== raleway ===================*/
.open-sans-extralight {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.open-sans-light {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.open-sans-pre-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.open-sans-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-normal-plus {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.open-sans-semibold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.open-sans-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-extrabold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.open-sans-thik {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/*=================== base styles ===================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  scroll-behavior: smooth;
}

.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  font-weight: bold;
  color: black;
}

a:hover,
a:active {
  color: lightseagreen;
}

h1, h2, h3 {
  font-family: "Proza Libre", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

#back-to-top {
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: yellow;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  right: 16rem;
}

#back-to-top:hover {
  cursor: pointer;
}

/*=================== header styles ===================*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

header #primary-navigation {
  flex: 1;
}

header #primary-navigation ul {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 2.5rem;
}

header #primary-navigation ul li:after {
  content: "|";
  margin: 0.5rem;
}

header #primary-navigation ul li:last-child:after {
  content: "";
  margin: 0;
}

/*=================== main styles ===================*/
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

main #secondary-navigation ul {
  display: flex;
  flex: 1;
  background: #aaaaaa;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

main #secondary-navigation ul a:hover {
  color: white;
}

main #secondary-navigation ul li:after {
  content: "|";
  margin: 0.5rem;
}

main #secondary-navigation ul li:last-child:after {
  content: "";
}

main section {
  display: flex;
  flex-direction: column;
}

main section .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

main section .section-title h2 {
  width: fit-content;
}

main section .section-title p {
  height: 1.6rem;
  flex: 1;
  background-color: #888888;
}

main section .section-body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

main section .section-body .section-body-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

main section .section-body .section-body-text p {
  line-height: 1.5rem;
}

main section .section-body .section-body-text p i {
  font-size: 2rem;
}

main section .section-body .section-body-text p i:first-child {
  font-size: 1.6rem;
}

main section .section-body .section-body-text p span {
  margin-left: 1rem;
}

main section .section-body .section-body-media {
  display: flex;
  max-width: 250px;
}

main section .section-body .section-body-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

main section .section-body .section-body-media img {
  height: 100%;
  border-radius: 5%;
  transform: scale(-1, 1);
  margin-top: -6%;
}

main section .section-body .section-body-media figcaption {
  text-align: center;
}

/*=================== footer styles ===================*/
footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  padding: 40px 0 20px 0;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #888888;
}

footer p {
  font-family: "Proza libre", sans-serif;
}

/*=================== javascript manipulating styles ===================*/
.active-link {
  color: lightseagreen !important;
}


/*=================== mobile design ===================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 629px) {
  #back-to-top {
    bottom: 10%;
    right: 10%;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  header #primary-navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
  }

  main #secondary-navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main #secondary-navigation ul li {
    width: fit-content;
  }

  main section {
    padding-bottom: 1rem;
    border-bottom: 2px solid #aaaaaa;
  }

  main section .section-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem
  }

  main section .section-title h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #aaaaaa;
  }

  main section .section-body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  main section .section-body .section-body-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  footer {
    border: none;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 630px) and (max-width: 767px) {
  #back-to-top {
    bottom: 10%;
    right: 10%;
  }

  header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  header #primary-navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 4rem;
  }

  main #secondary-navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  main section {
    padding-bottom: 1rem;
    border-bottom: 2px solid #aaaaaa;
  }

  main section .section-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem
  }

  main section .section-title h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #aaaaaa;
  }

  main section .section-body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  main section .section-body .section-body-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  footer {
    border: none;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }

  header #primary-navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 2.5rem;
  }
  main #secondary-navigation ul {
    display: flex;
    justify-content: flex-start;
  }
}